.paneHome3,.paneHome4,.paneHome5,.paneHome6,.paneHome7,.paneHome8,.paneHome10, .paneHome11 {
    -fx-background-image: url("../Images/Wallpapers/random.jpeg");
    -fx-background-size: cover;
    -fx-background-position: center center;
}
.paneHome9 {
    -fx-background-image: url("../Images/MesSept.jpeg");
    -fx-background-size: cover;
    -fx-background-position: center center;
}
.paneHome9Special {
    -fx-background-image: url("../Images/Wallpapers/MesSept1.jpeg");
    -fx-background-size: cover;
    -fx-background-position: center center;
}
.paneHome12 {
    -fx-background-image: url("../Images/Wallpapers/Diciembre.jpeg");
    -fx-background-size: cover;
    -fx-background-position: center center;
}